body {
  background-color: #46403c;
}

.build-info {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0.5;
  text-align: center;
  color: white;
}

.app {
  text-align: center;
  width: 95%;
  margin: auto;
}

.app-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

